<!--Author : Darosh Irani
// Student ID : 822955068
// Filename : footer.ejs
// Dated : October 2nd, 2022 -->

<!-- Template source - class-->

<nav class="navbar navbar fixed-bottom bg-light">
    <div class="container ">
      <h5 id = "copyright text-right">&copy; Copyright 2022 - Darosh Irani - Centennial College - COMP 229 - #822955068</h5>
    </div>
</nav>