<!--Author : Darosh Irani
// Student ID : 822955068
// Filename : about.ejs
// Dated : October 2nd, 2022 -->

<!-- Tenplate source - me-->

<div class = "container-fluid" align = "center">
    <h1><%= title %></h1>
    
    <a class = "nav-link <%=(page == 'resumeMe') ? 'active' : ''; %>" aria-current="page" href="/resumeMe">Darosh Irani Resume </a>
        
</div>