<!--Author : Darosh Irani
// Student ID : 822955068
// Filename : contactCollection.ejs
// Dated : October 2nd, 2022 -->

<!-- ignore this file please -->
<div class = "container-fluid" align = "Center">
    <h1><%= title %></h1>
</div>