<!--Author : Darosh Irani
// Student ID : 822955068
// Filename : contact.ejs
// Dated : October 2nd, 2022 -->

<!-- Template source - https://getbootstrap.com/ -->

<div class = "container-fluid" align = "center">
    <h1><%= title %></h1>
    <div class = "container-sm">
    <form class="row g-3 needs-validation" id = "contactForm" action = "" method = "POST" >
        <div class="col-md-4">
          <label for="validationCustom01" class="form-label">First name</label>
          <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustom02" class="form-label">Last name</label>
          <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationCustomUsername" class="form-label">Username</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">Email</span>
            <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required>
            <div class="invalid-feedback">
              Please choose a username.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationCustom03" class="form-label">City</label>
          <input type="text" class="form-control" id="validationCustom03" required>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom04" class="form-label">Province</label>
          <select class="form-select" id="validationCustom04" required>
            <option selected disabled value="">Choose...</option>
            <option>ON</option>
            <option>BC</option>
            <option>AB</option>
            <option>SK</option>
            <option>QB</option>
            <option>NF</option>
            <option>PEI</option>
            <option>NWT</option>
          </select>
          <div class="invalid-feedback">
            Please select a valid Province.
          </div>
        </div>
        <div class="col-md-3">
          <label for="validationCustom05" class="form-label">Zip</label>
          <input type="text" class="form-control" id="validationCustom05" required>
          <div class="invalid-feedback">
            Please provide a valid zip.
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label" for="invalidCheck">
              Agree to terms and conditions
            </label>
            <div class="invalid-feedback">
              You must agree before submitting.
            </div>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary" id = "contactFormbutton" type="submit" formaction="./home" formmethod="get">Submit</button> <!-- formaction attribute redirects the form submission to a specific url and choice of method for submission is through a 'get' since the router is setup as 'indexRouter.get'--> 
          <button class="btn btn-primary" type="reset" >Reset</button>
        </div>
      </form>
    </div>
</div>