<!--Author : Darosh Irani
// Student ID : 822955068
// Filename : home.ejs
// Dated : October 2nd, 2022 -->

<!-- Template Source - https://bootswatch.com/flatly/ -->

<div class = "container-fluid" align = "Center">
    <h1><%= title %></h1>
    <figure>
        <blockquote class="blockquote">
          <p class="mb-0">If we wash our hands of the conflict between the powerful and the weak, we don't remain neutral; we side with the powerful</p>
        
        </blockquote>
        <figcaption class="blockquote-footer">
        <cite title="Source Title">Banksy</cite>
        </figcaption>
      </figure>
      <div class="card text-white bg-success mb-3" style="max-width: 50em;">
        <div class="card-header">Mission Statement</div>
        <div class="card-body">
          <h4 class="card-title">Perfect Practice makes Perfect</h4>
          <p class="card-text">There isn't much I can say here, except, perfect practice makes perfect instead of practicing the wrong method/way of accomplishing something. I want to learn software development so that I could find a foot into the IT industry, and I truly believe that God always holds open the doors you manage to open yourself.
          </p>
        </div>
      </div>
</div>