<!--Author : Darosh Irani
// Student ID : 822955068
// Filename : resumeMe.ejs
// Dated : October 2nd, 2022 -->

<!-- created another ejs template to load pdf into a container and display-->

<div class = "container" align = "center">
    <h1><%= title %></h1>    
        <div class = "container-fluid" align = "center">
            <iframe src="./content/images/Copy of Darosh Irani Resume - August 2018 cx.pdf" width="100%" height="75%"> 
        </div>
</div>